[Unit]
Description=Auto update Trendspy Related Keywords from Git
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/ubuntu/trendspy-related-keywords/scripts/auto_update_from_git.sh
